html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
 }
h3{
    padding: 0 8px
}
a{
    text-decoration: none;
    color: rgb(139, 138, 138);
    font-size: 20px;
}
a:hover{
    cursor: pointer;
    color: #db750e;
}
main{
    width: 100%;
}
footer {
    width: 100%;
    height: 60px;
    background: #db750e;
    display: flex;
    align-items: center;
    justify-content: center;
}

