@media screen and (min-width: 1440px) and (max-width: 1920px){
    .main_wrapper{
        width: 100%;
    }
   .head_navBar{
    min-width: 1440px;
    max-width: 1920px;
   }
}
@media screen and (min-width: 1920px){
    .main_wrapper{
        max-width: 1920px;
    }
   .head_navBar{
    max-width: 1920px;
   }
}
@media screen and (min-width: 320px) and (max-width: 720px){
    .arrow{
    border-width: 0 4px 4px 0;
    padding: 5px;
    }
    a{
        font-size: 16px;
    }
}
@media screen and (min-width: 530px) and (max-width: 700px){
    .content_max{
        margin-right: 320px;
    }   
    .order_message{
        text-align: center;
    }
}
@media screen and (min-width: 320px) and (max-width: 530px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    .meal{
        width: 100%;
    }
    .main_nav_bar{
        height: 32px;
    }
    .basket_content{
        width: 100%;
        padding: 0;
        height: -webkit-fill-available;
        border-radius: 0;
    }
    .basket_menu{
        justify-content: space-evenly;
    }
    .basket_footer{
        padding-left: 8px;
    }
    .order_button{
        position: sticky;
        bottom: 0;
        background-color: white;
        padding: 8px 0;
        display: flex;
        justify-content: center;
    }
    .order_message{
        text-align: center;
    }
}